@use '../../layout/layout';
@use '../../components/buttons';

.cta {
    @include layout.default(full);
    position: relative;
    padding: var(--section-gap) 0;
    overflow: hidden;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__background {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 0;

        img {
            object-fit: cover;
            object-position: top;
        }

        &::after {
            content: '';
            background-color: var(--color-dark);
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            opacity: 0.37;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;
        z-index: 2;
        justify-content: center;
        align-items: center;
    }

    &__title {
        color: var(--color-light-yellow);
        margin: 0;
        margin-bottom: 1.5rem;
        max-width: 672px;
    }
    
    &__text {
        color: var(--color-light-yellow);
        margin: 0;
        margin-bottom: 2.5rem;
        max-width: 438px;
    }

    &__button {
        @include buttons.default();
        width: fit-content;
    }

}